version: '3'

services:
  cfractions-cpython:
    build:
      context: .
      args:
        - IMAGE_NAME=${CPYTHON_IMAGE_NAME}
        - IMAGE_VERSION=${CPYTHON_IMAGE_VERSION}
    image: lycantropos/cfractions-cpython:1.2.0-alpha
    volumes:
      - ./cfractions:/opt/cfractions/cfractions
      - ./pytest.ini:/opt/cfractions/pytest.ini
      - ./README.md:/opt/cfractions/README.md
      - ./requirements-tests.txt:/opt/cfractions/requirements-tests.txt
      - ./setup.py:/opt/cfractions/setup.py
      - ./src:/opt/cfractions/src
      - ./tests:/opt/cfractions/tests
    entrypoint: pytest
